<section class="vh-100" style="background-color: #e4e4e4;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img src="https://media.licdn.com/dms/image/v2/C560BAQErY0buQ66AXw/company-logo_200_200/company-logo_200_200/0/1652723102743/nezter_landing_solutions_logo?e=2147483647&v=beta&t=QV69iMIrAUg5qsjaHhEyChYsikGHyaEA1A5kHBnpWLg" alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
            </div>
            <div class="col-md-6 col-lg-10 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">
                <form [formGroup]="loginForm">
                  <div class="form-outline mb-4">
                    <label class="form-label" for="login">Login</label>
                    <input type="text" id="login" formControlName="login" class="form-control form-control-lg" />
                  </div>

                  <div class="form-outline mb-4">
                    <label class="form-label" for="password">Password</label>
                    <input type="password" id="password" formControlName="password" class="form-control form-control-lg" />
                  </div>

                  <div class="pt-1 mb-4">
                    <button (click)="onLogin()" type="submit" class="btn btn-custom btn-lg btn-block">Login</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>